/* Global CSS */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}
body{
  overflow: auto;
}

h1 {
  color: #333;
}

p {
  color: #555;
  }


/* Navigation bar CSS */
.navbar {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.navbar a {
  float: right;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;

}

.navbar a:hover, .tm_dropdown:hover .tm_button_dropdown {
  background-color: #f1f1f1fd;
  color: #000;
}

.navbar a {
  display: inline-block;
}

.navbar a:first-child {
  margin-left: auto;
}

.cart-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.cart-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* TM Dropdown Navigation bar CSS */
.tm_dropdown {
  float: left;
  overflow: hidden;

}

/* Dropdown button */
.tm_dropdown .tm_button_dropdown {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
  padding: 14px 16px;
  font-size: 16px;
}

.tm_dropdown:hover .tm_dropdown_content {
  display: block;
  color: white;
}

/* Dropdown content */
.tm_dropdown_content{
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.tm_dropdown_content a{
  float: none;
  color: #fff;
  padding: 14px 16px;  
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Slider and container CSS */
.slideshow {
  min-height: 70vh;
  width: 60%;
  height: 50%;
  position: relative;
  margin:auto;
  align-items: center;
  display: flex;
}

.slideshow img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}


#next, #previous {
  cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#previous {
  left: 0;
}

#next {
  right: 0;
}

#slider:hover #previous,
#slider:hover #next {
    opacity: 1;
}

/* Navigation buttons CSS */
.navigation-button{
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

  /* Footer CSS */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  bottom: 0;
}

/* Login and Register page CSS */

.register-form{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  background: #eee;

}

.register-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  
  background: #fff;
  text-align: center;
  width: 50%;
}

.register-form form h3{
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}

.register-form form input{
  width: 60%;
  padding: 14px 16px;
  font-size: 17px;
  margin:8px 0;
  background: #eee;
}

.register-form form .register-button{
  width: 35%;
  background: #d6d6d6;
  color: #333;
  text-transform: capitalize;
  font-size: 17px;
  cursor: pointer;
}

.register-form form .register-button:hover{
  background: #d6d6d6;
  color: #fff;
}

.register-form form p{
  margin-top: 10px;
  font-size: 17px;
  color:#333;
}

.register-form form p a{
  color: crimson;
}

.register-form form .error-msg {
  margin:10 px;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
}