html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: right;
  color: #fff;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #f1f1f1fd;
  color: #000;
}

.container {
  /* float: left; */
  /* max-width: 800px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  min-height: calc(100% - 70px);
}

h1 {
  color: #333;
}

p {
  color: #555;
  }

.navbar a {
  display: inline-block;
}

.navbar a:first-child {
  margin-left: auto;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
}